@charset "UTF-8";

.lightbox {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 5000;
}
.lightbox-img {
	display: block;
}

.close-lightbox {
	float: right;
	margin-right: 18px;
	margin-top: 12px;
	font-size: 2em;
	cursor: pointer;
}
