.boxHelper
{
	color: #fff;
	background-color:#000;
	text-align:center;
}

body {
font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: normal;
margin: 0;
padding: 0;
color: #000;
}

p {
	font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #000;
	text-align: left;

}

h1 {
	font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: normal;
	margin: 0;
	padding-top: 90px;
	color: #4de9ff;
}

.container {
margin-left:  auto;
margin-right:  auto;
margin-top: 177px;
max-width: 1170px;
padding-right: 15px;
padding-left: 15px;
}

.row:before, .row:after {
display: table;
content: " ";
}

h1 {
font-size: 48px;
font-weight: 300;
margin: 0 0 20px 0;
}

.lead {
font-size: 21px;
font-weight: 200;
margin-bottom: 20px;
}

p {
margin: 0 0 10px;
}

a {
color: #3282e6;
text-decoration: none
}

#sethLogo
{
	display: block;
	max-width: 300px;
	margin: 0 auto;
}

.input-group-button
{
	color: #4de9ff;
text-align: center;
}

.input-group-button:hover
{
	background: #00cae6;
}

#sethTopLogo
{
	float: left;
	margin-left: 40px;
	display: block;
	max-width: 100px;

}

.mainNav
{
	text-align: right;
	margin-right: 100px;
	margin-top: 40px;
	list-style-type: none;
	text-align: inline;
}

#sethImage
{
	float: left;
	margin-top: 160px;
	margin-left: 300px;
	margin-right: 80px;
	max-width: 500px;
}

#aboutText
{
	margin-right: 300px;
	text-align: inline;
	margin-top: 60px;
}

#contactTitle
{
	margin-left: 400px;
}

#registrationForm
{
	margin-left: 80px;
}

#homeText
{
	text-align: center;
}

#gallery
{
	margin-top: 60px;
	margin-left: 250px;
}

.social-media
{
float: right;
margin-right: 400px;
}

#facebook
{
margin-top:20px;
	height: 80px;
	z-index: auto;
}
#facebook:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
#twitter
{
	margin-top:20px;
	height: 100px;
	position: absolute;
	z-index: 1;
}

#twitter:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#instagram
{
	height: 80px;
	position: absolute;
	margin-top:140px;
	z-index: 2;
}

#instagram:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

div.imageGallery {
		padding-top: 20px;
		margin-right: 50px;
    float: left;
    width: 300px;
}

div.imageGallery img {
    width: 100%;
    height: 180px;
}

div.desc {
    text-align: center;
		margin-bottom: 30px;
}
